.logout-btn {
  background-color: #ff3d00;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  margin-top: auto; /* pushes it to bottom of sidebar */
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

